page-modal-filter {

}

.filters{
    height: 100%;
    display: block;
    vertical-align: middle;
    position: absolute;
}

.filters li {
     text-align: left; 
     padding: 10px;
     margin-left: -52px;
}